body{
	background-color:#738058

}
.inner a{
	padding:30%;
	color:#ffffgg;
	margin:0px 10px 0px 40px;
}

.outer{
	
	padding:30px;
	width:auto;	
	height:620px;
	background-color:#7C806B;
	border-radius:5px;
}

.inner{
	margin:0px 10px 0px 40px;
	border:10px 10px;
	float:left;
	background-color:#96AB68;
	width:60%;
	height:400px;
	padding:10px;
	border-radius:5px;
	-webkit-box-shadow: -14px 18px 16px -2px rgba(0,0,0,0.65);
	-moz-box-shadow: -14px 18px 16px -2px rgba(0,0,0,0.65);
	box-shadow: -14px 18px 16px -2px rgba(0,0,0,0.65);
}

nav{
	margin:0px 10px 0px 0px;
	border:10px 10px;
	text-align:center;
	padding:10px;
	float:left;
	background-color:#808782;
	width:250px;
	height:400px;
	border-radius:5px;
	-webkit-box-shadow: -14px 18px 16px -2px rgba(0,0,0,0.65);
	-moz-box-shadow: -14px 18px 16px -2px rgba(0,0,0,0.65);
	box-shadow: -14px 18px 16px -2px rgba(0,0,0,0.65);
}

.innav{
	margin:0px 0px 30px 10px;
	border:10px 10px;
	text-align:center;
	float:left;
	width:90%;
	height:40px;
	background-color:#AED162;
	border-radius:5px;
	-webkit-box-shadow: -14px 18px 16px -9px rgba(0,0,0,0.65);
	-moz-box-shadow: -14px 18px 16px -9px rgba(0,0,0,0.65);
	box-shadow: -14px 18px 16px -9px rgba(0,0,0,0.65);
}

.innav a{
	text-align: center;
	color: #000000;
	line-height: 2.4;
}
