a{
	
	font-family:Cursive;
	font-size:18px;
	font-style:normal;
	font-weight:normal;
	text-decoration:none;
	text-transform:uppercase;
	letter-spacing:2px;
	text-indent:10px;
	color:000033;
	
}

.describe {
	padding:20px;
	text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.describe a {
	font-family:Comic Sans MS;
	font-size:20px;
	font-weight:bold;
	font-style:normal;
}

body{
	
	background-image: url("img/bg_black.jpg");

}

.outer{
	opacity: 0.8;
	padding:20px;
	display: table-cell; 
	width:50%;
	height:640px;
	border-radius:5px;
	background-image: url("img/bg.jpg");	
}

.inner{

	opacity: 0.88;
	margin:0px 10px 0px 40px;
	border:10px 10px;
	float:left;
	background-color:#96AB68;
	width:60%;
	height:400px;
	padding:10px;
	border-radius:5px;
	-webkit-box-shadow: -14px 18px 16px -2px rgba(0,0,0,0.65);
	-moz-box-shadow: -14px 18px 16px -2px rgba(0,0,0,0.65);
	box-shadow: -14px 18px 16px -2px rgba(0,0,0,0.65);
}

nav{
	position: relative;
	opacity: 0.80;
	margin:0px 10px 0px 0px;
	border:10px 10px;
	text-align:center;
	padding:10px;
	float:left;
	background-color:#808782;
	width:270px;
/*	height:400px;*/
	border-radius:5px;
	-webkit-box-shadow: -14px 18px 16px -2px rgba(0,0,0,0.65);
	-moz-box-shadow: -14px 18px 16px -2px rgba(0,0,0,0.65);
	box-shadow: -14px 18px 16px -2px rgba(0,0,0,0.65);
}

nav a{
	
	text-align: center;
	color: #000000;
	line-height: 2.4;
}

.innav{
	margin:0px 0px 30px 10px;
	border:10px 10px;
	text-align:center;
	float:left;
	width:90%;
	height:40px;
	background-color:#AED162;
	border-radius:5px;
	-webkit-box-shadow: -14px 18px 16px -9px rgba(0,0,0,0.65);
	-moz-box-shadow: -14px 18px 16px -9px rgba(0,0,0,0.65);
	box-shadow: -14px 18px 16px -9px rgba(0,0,0,0.65);
}


.guessed_div{
	
	margin:10px 8px 20px 0px;
	padding:0px 5px;
	border:10px 10px;
	text-align:center;
	float:left;
	width:30%;
	height:40px;
	background-color:#AED162;
	border-radius:5px;
	-webkit-box-shadow: -14px 18px 16px -9px rgba(0,0,0,0.65);
	-moz-box-shadow: -14px 18px 16px -9px rgba(0,0,0,0.65);
	box-shadow: -14px 18px 16px -9px rgba(0,0,0,0.65);
}

.cow_div{
	margin:10px 8px 30px 0px;
	border:10px 10px;
	padding:0px 5px;
	text-align:center;
	float:left;
	width:25%;
	height:40px;
	background-color:#AED162;
	border-radius:5px;
	-webkit-box-shadow: -14px 18px 16px -9px rgba(0,0,0,0.65);
	-moz-box-shadow: -14px 18px 16px -9px rgba(0,0,0,0.65);
	box-shadow: -14px 18px 16px -9px rgba(0,0,0,0.65);
}

.bull_div{
	margin:10px 8px 30px 0px;
	border:10px 10px;
	padding:0px 5px;
	text-align:center;
	float:left;
	width:25%;
	height:40px;
	background-color:#AED162;
	border-radius:5px;
	-webkit-box-shadow: -14px 18px 16px -9px rgba(0,0,0,0.65);
	-moz-box-shadow: -14px 18px 16px -9px rgba(0,0,0,0.65);
	box-shadow: -14px 18px 16px -9px rgba(0,0,0,0.65);
}

.button_check {
	-webkit-box-shadow: -14px 18px 16px -9px rgba(0,0,0,0.65);
	-moz-box-shadow: -14px 18px 16px -9px rgba(0,0,0,0.65);
	box-shadow: -14px 18px 16px -9px rgba(0,0,0,0.65);
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffce79), color-stop(1, #eeaf41) );
	background:-moz-linear-gradient( center top, #ffce79 5%, #eeaf41 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffce79', endColorstr='#eeaf41');
	background-color:#ffce79;
	-webkit-border-top-left-radius:8px;
	-moz-border-radius-topleft:8px;
	border-top-left-radius:8px;
	-webkit-border-top-right-radius:8px;
	-moz-border-radius-topright:8px;
	border-top-right-radius:8px;
	-webkit-border-bottom-right-radius:8px;
	-moz-border-radius-bottomright:8px;
	border-bottom-right-radius:8px;
	-webkit-border-bottom-left-radius:8px;
	-moz-border-radius-bottomleft:8px;
	border-bottom-left-radius:8px;
	text-indent:0px;
	border:1px solid #eeb44f;
	display:inline-block;
	color:#ffffff;
	font-family:Comic Sans MS;
	font-size:20px;
	font-weight:bold;
	font-style:normal;
	height:50px;
	line-height:0px;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:0px 4px 2px #ce8e28;
	right:0px;
}

.button_check:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #eeaf41), color-stop(1, #ffce79) );
	background:-moz-linear-gradient( center top, #eeaf41 5%, #ffce79 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeaf41', endColorstr='#ffce79');
	background-color:#eeaf41;
}

.button_check:active {
	position:relative;
	top:1px;
}

.text_box_form {
	text-align:center;
	font-size: 55px;
	padding: 1px 20px; 
	border: 0; 
	margin:10px 8px 30px 0px;
	height:125px; 
	width: 275px; 
	border-radius: 10px; 
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px; 
	box-shadow: 1px 1px 0 0 #FFF, 5px 5px 40px 2px #BBB inset; 
	-moz-box-shadow: 1px 1px 0 0 #FFF, 5px 5px 40px 2px #BBB inset; 
	-webkit-box-shadow: 1px 1px 0 0 #FFF, 5px 5px 40px 2px #BBB inset; 
	-webkit-background-clip: padding-box; 
	outline:0; 
}
